@using ProyectoIngles.Data.Controllers
@using ProyectoIngles.Data.Models
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <div class="mt-2 mb-5">
            <div class="mb-5">
                <h1 class="fs-5">Eliminar registro</h1>
            </div>
            <p>¿Realmente desea eliminar este registro? Este proceso no se puede deshacer.</p>
        </div>
    </DialogContent>
    <DialogActions>
        <div class="mb-2 mx-5">
            <button class="button cancel mx-2" @onclick="Cancelar">Cancelar</button>
            <button class="button red" @onclick="Submit">Eliminar</button>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    [Parameter] public AlumnosAntiguoSistema alumno { get; set; }

    private AntiguoSistemaController antiguoSistemaController = new AntiguoSistemaController();

    protected override void OnInitialized()
    {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        Snackbar.Configuration.VisibleStateDuration = 2500;
        Snackbar.Configuration.HideTransitionDuration = 500;
    }

    private void Submit()
    {
        var result = antiguoSistemaController.EliminarRegistro(alumno.ID);
        if (result)
        {
            MudDialog?.Close(DialogResult.Ok(true));
            Snackbar.Add("Datos eliminados correctamente.", Severity.Success);
        }
        else
        {
            MudDialog?.Close(DialogResult.Ok(false));
            Snackbar.Add("Ocurrió un error al eliminar los datos.", Severity.Error);
        }
    }
    void Cancelar() => MudDialog?.Cancel();
}
